/* GLOBAL (*, body) */
body {
  background-color: black;
  color: white;
}
/* TEXTO (h1, h2, p, a, b) */
h1 {
    color:cyan;
    font-size: 40px;
}
h2 {
    color:cyan;
    font-size: 30px;
}
h3 {
    color:darkcyan;
}
a:link {
  color: lightblue;
}
a:visited {
  color:aquamarine;
}
a:hover {
  color: white;
}
th, td {
    padding: 5px 10px;;
}
th {
    background-color: #0f504a;
    color:white;
}
caption {
    color:cyan;
    font-size: 35px;
}
li {
    margin: 10px;
    font-size: 18px;
}
/* LAYOUT (header, main, section, footer) */
section {
    background-color: #1f2124;
    padding: 1px 20px 0px 20px;
    border-radius: 15px;
    border: 2px solid gray;
    margin-bottom: 20px;
}
header {
    background-color: #1f2124;
    padding: 1px;
    border-radius: 15px;
}
hr {
  border: none;
  border-top: 3px solid white;
  margin: 24px 0;
}
/* COMPONENTES (table, form, input) */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2%;
}
img {
    max-width: 100%;
    border-radius: 2%;
    height: auto;
}
input,
textarea {
    background-color: rgb(71, 71, 71);
    color: black;
    border: black;
    border-radius: 8px;
}
::placeholder {
    color: black;
}
/* CLASSES E IDS */
.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-start;
}
figure {
  margin: 0;
}
.perfil {
    display:flex;
    gap: 30px;
    border: 2px
}
.foto-perfil {
    flex-shrink: 0;
    width: 300px;
    border-radius: 50%;
}
.area-foto {
    flex-shrink: 0;
    padding: 20px;
    border: 2px solid gray;
}
.area-readme {
    flex-grow: 1;
    padding: 20px;
    border: 2px solid gray;
}
.work {
    padding-bottom: 10px;
}
.login {
    padding-bottom: 10px;
}
.links {
    width: auto;
    height: 30px;
    border-radius: 5px;
}