/* GLOBAL (*, body) */
body {
  background-color: black;
  color: white;
}
hr {
  border: none;
  border-top: 2px solid white;
  margin: 10px 0;
}
/* TEXTO (h1, h2, p, a, b) */
h1 {
    color:cyan;
    font-size: 40px;
}
h2 {
    color:cyan;
    font-size: 30px;
}
h3 {
    color:darkcyan;
}
b {
    color: white;
}
p {
    color:white;
}
li {
    color:white
}
a:link {
  color: lightblue;
}
a:visited {
  color:aquamarine;
}
a:hover {
  color: white;
}
th, td {
    padding: 5px 10px;;
}
th {
    background-color: #0f504a;
    color:white;
}
caption {
    color:cyan;
    font-size: 35px;
}
/* LAYOUT (header, main, section, footer) */
section {
    background-color: #1f2124;
    padding: 0px;
    border-radius: 15px;
}
/* COMPONENTES (table, form, input) */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2%;
}
img {
    max-width: 100%;
    border-radius: 2%;
    height: auto;
}
.foto-perfil {
    width: 300px;
    border-radius: 50%;
}

/* CLASSES E IDS (class, multi) */